.actual {
  margin-bottom: 100px;
  .actual_banner {
    max-width: 1150px;
    height: 216px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 0 120px;
    @media (max-width: 768px) {
      padding: 20px 20px 0 10%;
    }
    @media (max-width: 425px) {
      padding: 10px;
      gap: 10px;
      flex-direction: column-reverse;
      justify-content: center;
    }

    h2 {
      max-width: 260px;
      text-align: center;
      font-size: 30px;
      font-weight: 300;
      line-height: 32px;
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }

    p {
      max-width: 240px;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
    }

    .actual_text {
      @media (max-width: 425px) {
        display: none;
      }
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;

    .cards_item:nth-last-child(1) {
      @media (max-width: 1150px) {
        display: none;
      }
    }

    .cards_item:nth-last-child(2) {
      @media (max-width: 425px) {
        display: none;
      }
    }
  }
}