.actual {
  margin-top: 80px;
  margin-bottom: 100px;
  .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;

    .title_container {
      max-width: 740px;
      margin: 0 auto;

      .actual_history {
        text-align: center;
        font-size: 25px;
        line-height: 36px;
        color: #27160e;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        color: white;
        padding-top: 80px;
        padding-bottom: 65px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          display: block;
          height: 1px;
          background-color: #9B9B9B;
        }

        h1 {
          font-weight: 400;
          color: #27160e;
          background-color: #fff;
          position: relative;
          padding: 0 60px;
          @media (max-width: 425px) {
            font-size: 24px;
            padding: 0 15px;
          }
        }
      }
    }
  }
}