.header{
  .container{
    max-width: 1150px;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #543019;
    position: relative;
    .burger{
      display: none;
      font-size: 30px;
      color: #552F1D;
      @media (max-width: 1024px){
        display: block;
      }
      @media (max-width: 375px){
        font-size: 25px;
      }
    }
    .nav_list{
      display: flex;
      gap: 30px;
      align-items: center;
      @media (max-width: 1024px){
        display: none;
      }
      li{
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
      }
    }
    .nav_logo{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 6px;
      @media (max-width: 1024px) {
        margin-left: 200px;
      }
      @media (max-width: 768px) {
        margin-left: 100px;
      }
      @media (max-width: 425px){
        margin-left: 0;
      }
      p{
        font-size: 12px;
        font-family: "DS CenturyCapitals", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        @media (max-width: 375px){
          font-size: 9px;
        }
      }
    }
    .nav_info{
      display: flex;
      align-items: center;
      gap: 40px;
      font-family: "Blacker Display", sans-serif;
      font-weight: 200;
      font-size: 15px;
      @media (max-width: 1024px){
        gap: 15px;
      }

      div{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        svg{
          font-size: 20px;
        }
        span{
          @media (max-width: 1024px) {
            display: none;
          }
        }
      }
      .social_icons{
        font-weight: 700;
        a{
          @media (max-width: 768px) {
            display: none;
          }
        }
        @media (max-width: 425px) {
          display: none;
        }
      }
    }
  }
}